@{
    ViewBag.Title = "Info";
    Layout = null;
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />

<table class="table table-striped">
    <tr>
        <th>
            SKU
        </th>
    </tr>
    <tbody>
        <tr>
            <th>ID</th>
            <th>Marknad</th>
            <th>Pris</th>
            <th>Valuta</th>
            <th>Start</th>
            <th>Slut</th>
        </tr>
        @foreach (var item in ViewBag.pList)
        {
            <tr>
                <td>@item.PriceValueId</td>
                <td>@item.MarketId</td>
                <td>@item.MarketId</td>
                <td>@item.UnitPrice</td>
                <td>@item.CatalogEntryCode</td>
                <td>@item.ValidFrom</td>
                <td>@item.ValidUntil</td>
                <td>@item.MarketId</td>
            </tr>
        }
    </tbody>
</table>
