@{
    ViewBag.Title = "Info";
    Layout = null;
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />

<table class="table table-striped">
    <tr>
        <th>
            SKU
        </th>
    </tr>
    <tbody>
        <tr>
            <th>ID</th>

            <th>Marknad</th>
            <th>Pris</th>
            <th>Valuta</th>
            <th>Start</th>
            <th>Slut</th>
        </tr>

       @if (ViewBag.PriceInfoList != null)
        {
            foreach (var item in ViewBag.PriceInfoList)
            {
                <tr>
                    <td>@item.PriceValueId</td>

                    <td>@item.MarketId</td>
                    <td>@item.UnitPrice</td>
                    <td>@item.CurrencyCode</td>
                    <td>@item.ValidFrom</td>
                    <td>@item.ValidUntil</td>
                </tr>
            }
        }
        else
        {
        <tr>Ingen aktuell artikel finns tillgänglig</tr>
        }

    </tbody>
</table>







