@{
    ViewBag.Title = "Info";
    Layout = null;
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />


<table class="table table-striped">
    <tr>
        <th>
            SKU
        </th>
    </tr>
    <tbody>
        <tr>
            <th>Marknad</th>
            <th>Pris</th>
            <th>Valuta</th>
            <th>Start</th>
            <th>Slut</th>
        </tr>

        @if (ViewBag.plist != null)
        {
            foreach (var item in ViewBag.plist)
            {
                <tr>
                    <td>@item.MarketId</td>
                    <td>@item.UnitPrice</td>
                    <td>@item.CatalogEntryCode</td>
                    <td>@item.ValidFrom</td>
                    <td>@item.ValidUntil</td>
                    <td>@item.UnitPrice</td>
                </tr>
            }
        }
        else
        {
            <tr>Artikeln finns inte</tr>
        }



    </tbody>
</table>







